<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script defer sscrrc="script.js"></script>
    <title>Allison Lu</title>
</head>

<body>
    <header>
        <a href="../pages/home.html" class="logo-container" style="text-decoration: none; color: #534741;">
            <img class="logo" src="../img/SVG/logo.svg" alt="Initials Logo">
            <h2 style="color: inherit;">Allison Lu</h2>
        </a>

        <nav>
            <ul>
                <li class="dropdown">
                    <a href="../pages/journey.html">Journey</a>
                <!--
                    <div class="dropdown-content">
                        <a href="../pages/coding-projects.html">Coding Projects</a>
                        <a href="../pages/ux-projects.html">UX Projects</a>
                    </div>-->
                </li>
                <li class="dropdown">
                    <a href="../pages/adventure.html">Adventure</a>
                    <div class="dropdown-content">
                        <a href="../pages/movement.html">Movement</a>
                        <a href="../pages/documentation.html">Documentation</a>
                        <a href="../pages/illustration.html">Illustration</a>
                    </div>
                </li>
                <li><a href="../pages/about.html">About</a></li>
            </ul>
        </nav>
        <div class="page-info">
            <h2 id="page-title"></h2>
            <p id="page-description"></p>
        </div>
    </header>
<!--
    <footer>
        <div class="contact-info">
            <p>Contact info: <a href="mailto:alu8@bu.edu">alu8@bu.edu</a></p>
        </div>
        <div class="social-icons">
            <a href="https://www.instagram.com/wholu.moo" target="_blank"><img src="../img/instagram-logo.png" alt="Instagram Logo"></a>
            <a href="https://github.com/allison-lu8" target="_blank"><img src="../img/github-logo.png" alt="GitHub Logo"></a>
        </div>
    </footer>-->
    <!-- Your page content goes here -->

</body>

</html>
