<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script defer sscrrc="script.js"></script>
    <title>Allison Lu</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <img class="logo" src="../img/headphones.svg" alt="Your Logo">
            <h1>Allison Lu </h1>
        </div>
        <nav>
            <ul>
                <li><a href="../pages/journey.html">Journey</a></li>
                <li class="dropdown">
                    <a href="../pages/adventure.html">Adventure</a>
                    <div class="dropdown-content">
                        <a href="../pages/movement.html">Movement</a>
                        <a href="../pages/documentation.html">Documentation</a>
                        <a href="../pages/illustration.html">Illustration</a>
                    </div>
                </li>
                <li><a href="../pages/about.html">About</a></li>
            </ul>
        </nav>
        <div class="page-info">
            <h2 id="page-title"></h2>
            <p id="page-description"></p>
        </div>
    </header>

    <footer>
        <p>&copy; 2023 Allison. All rights reserved.</p>
        <p>Contact: allisonlu100@gmail.com</p>
        <p>Follow me on <a href="https://instagram.com/wholu.moo" target="_blank">instagram</a></p>
    </footer>
    <!-- Your page content goes here -->

</body>

</html>
