<!-- navbar.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <nav class="navbar">
    <div class="logo">
      <img src="../img/headphones.svg" alt="Logo">
    </div>
    <div class="brand">
      <h1>Allison Lu</h1>
    </div>
    <div class="nav-container">
      <div class="nav-categories">
        <a href="#journey">Journey</a>
        <div class="dropdown">
          <span class="dropbtn">Adventure</span>
          <div class="dropdown-content">
            <a href="#movement">Movement</a>
            <a href="#documentation">Documentation</a>
            <a href="#illustration">Illustration</a>
          </div>
        </div>
        <a href="#about">About</a>
      </div>
    </div>
  </nav>

  <!-- Include the JavaScript file -->
  <script src="scripts.js"></script>

</body>
</html>
