body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #D5DDEC; /* Earth tone color F7D7BB*/
    color: #534741; /* Earth tone color for text */
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E2E9F5; /* Earth tone color e5d3b2 */
    padding: 3px 20px;
}

/*include tabs*/
.tab-separated {
    margin-right: 20px; /* Adjust the margin as needed */
}

.header-content {
    text-align: left; /* Left align content */
    height: 75vh;
    padding: 15px 20px;
    position: relative;
    z-index: 1; /* Ensure header content is above other elements */
}

.header-adventure{
    background-color: transparent; /* Unique background color for Adventure header */
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.header-adventure::before {
    content: ""; /* Create a pseudo-element to act as the background image */
    background-image: url('../img/header/adventure.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; /* Adjust the opacity as needed (0.0 to 1.0) */
    z-index: -1; /* Move the pseudo-element behind the content */
}

.header-illustration{
    background-color: #D4C9BE; /* Unique background color for Documentation header */
    padding: 10px;
}

.header-journey{
    background-color: transparent; /* Unique background color for Adventure header */
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.header-journey::before {
    content: ""; /* Create a pseudo-element to act as the background image */
    background-image: url('../img/header/journey.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; /* Adjust the opacity as needed (0.0 to 1.0) */
    z-index: -1; /* Move the pseudo-element behind the content */
}

.header-home{
    background-color: transparent; /* Unique background color for Adventure header */
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.header-home::before {
    content: ""; /* Create a pseudo-element to act as the background image */
    background-image: url('../img/header/home.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; /* Adjust the opacity as needed (0.0 to 1.0) */
    z-index: -1; /* Move the pseudo-element behind the content */
}

#subcategory {
    text-align: center;
    padding: 0 200px; /* Adjust top, right, bottom, left padding as needed */
}

.subcategory-title {
    font-size: 30px;
    display: inline;
}

.subcategory-description {
    font-size: 18px; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height as needed */
    display: inline;
}

#coding-projects {
    background-color: #8E9C95;
}

#UX-UI {
    background-color: #89A0AF;
    
}

.header-movement{
    background-color: #D4C9BE; /* Unique background color for Documentation header */
    padding: 10px;
}

.custom-header {
    /*old*/
    font-family: 'Ariel', sans-serif;
    color: #333;
    font-size: 36px;
    margin-bottom: 5px; /* Add some space between title and description */
}

.header-description {
    color: #666;
    font-size: 18px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 40px; /* Adjust the size of your logo */
    margin-right: 20px;
}

.logo {
    width: 100px; /* Adjust the size of your logo */
    margin-right: 20px;
}

.logo-container a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent element */
}

/*footer*/
footer {
    background-color: #E2E9F5;
    color: #534741;
    padding: 0.5px;/*1em 0;/*px*/
    text-align: center;
    bottom: 0;
    width: 100%;
}

.contact-info {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.profile {
    height: 50vh;
    object-fit: cover;
}

/*navigation*/
nav{
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #534741; /* Earth tone color */
    font-weight: bold;
}

nav ul li a.active {
    color: #B3724D; /* Adjust the color for the active link */
}

/*dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cabca3; /* Earth tone color */
    min-width: 160px;
    z-index: 1; /* Ensure the dropdown is above other elements */
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #534741; /* Earth tone color */
}

/* Adjusted styles to keep the dropdown visible on hover */
.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

/*for sections*/
.section {
    height: 50vh; /* Half height of the viewport */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: #D4C9BE; /* Add a background color to sections for better visibility */
}

.case-study-section{
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
    max-width: 100%; /* Adjust the width of the content */
}

.image-container {
    flex: 1;
    overflow: hidden;
    max-width: 100%;/* Adjust the width of the image container */
    margin-bottom: 10px;
}

.video-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Adjust spacing between video groups */
  }
  
  .youtube-video {
    margin-bottom: 20px; /* Adjust spacing between videos */
  }

.icons {
    height: 50vh;
    object-fit: cover;
}
.section-divider {
    border: none;
    border-top: 1px solid #ccc; /* Define line properties */
    margin: 20px 0; /* Adjust margin as needed */
    max-width: 800px; /* Line extends the width of the container */
}
#movement {
    background-color: #d7d9de; /*#ddd7d0;  /*#D4C9BE; #B3724D;*/
    background-image: url(../img/header/SVG/movement.svg); /* Add your background image */
    background-size: cover;
    background-position: center;
    color:#534741;
}

#documentation {
    background-image: url(../img/header/SVG/documentation.svg); /* Add your background image */
    background-size: cover;
    background-position: center;
    color: white;
}

#illustration {
    background-image: url(../img/header/illustration.jpeg); /* Add your background image */
    background-size: cover;
    background-position: center;
    color: #534741;
}

#journey,
#adventure,
#about-me {
    background-size: cover;
    background-position: center;
    color: #534741;
    position: relative; /* Ensure the container has a positioning context for absolute positioning of text */
    text-align: center; /* Center-align text */
}

#journey::before,
#adventure::before,
#about-me::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/header/journey.jpg);
    background-size: cover;
    background-position: center;
    pointer-events: none; /* Allow interaction with text behind the overlay */
}

/* Repeat the above styles for each section with different background images */
#adventure::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/header/adventure.jpg);
    background-size: cover;
    background-position: center;
    pointer-events: none; /* Allow interaction with text behind the overlay */
}

#about-me::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/header/about.JPG);
    background-size: cover;
    background-position: center;
    pointer-events: none; /* Allow interaction with text behind the overlay */
}

/* Ensure text appears above the overlay */
#journey h2, #journey h4,
#adventure h2, #adventure h4,
#about-me h2, #about-me h4 {
    position: relative;
    z-index: 1;
}

/*slider & thumbnail for images*/
.slider-container {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    width: 100%;
    flex: 0 0 auto;
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

/* Styles for Slider 1 */
#slider1 {
    /* Your slider styles go here */
    width: 100%;
    height: auto;
}

/* Styles for Slider 2 */
#slider2 {
    /* Your slider styles go here */
    width: 100%;
    height: auto;
}

/* Styles for Slider 3 */
#slider3 {
    /* Your slider styles go here */
    width: 80%;
    height: auto;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow to only show four thumbnails at a time */
}

.thumbnails {
    display: flex;
}

.thumbnail {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent; /* Transparent border initially */
    transition: border 0.3s ease;
}

.thumbnail:hover,
.thumbnail.active {
    border: 2px solid #fff; /* Border color when hovered or selected */
}

/* for resume*/
/* Centered title */
.resume-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Work Experience section */
.work-experience {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

/*Technical Skills section*/
.technical-skills{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

/*Certification section*/
.certification{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

/* Side title */
.side-title {
    flex: 0 0 70%; /* Adjust as needed */
}

/* Individual experience */
.description {
    margin-bottom: 20px;
}

.clickable-section {
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px; /* Adjust as needed for spacing between sections */
    padding: 30px;
}

.side-by-side-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Add margin to separate from header-content */
    position: relative;
    z-index: 0; /* Set a lower z-index to position it behind header content */
}

.project-unit {
    width: 48%;
    margin-bottom: 20px;
    overflow: hidden; /* Ensure the section container clips its contents */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%; /* Set maximum width to prevent overflow */
}

.clickable-image {
    max-width: 80%;
    height: auto;
    cursor: pointer;
}

.rounded-image {
    border-radius: 50px; /* Adjust the value to control the roundness of the corners */
    max-width: 350px;
    max-height: 350px;
    padding-top: 5%;
}


/*Excel file*/
/*
#excel-container {
    max-width: 800px;
    margin: 0 auto;
}
.excel-table {
    border-collapse: collapse;
    width: 100%;
}

.excel-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}*/

/* Add this style to handle small screens */
@media (max-width: 768px) {
    .side-by-side-container {
        flex-direction: column; /* Stack sections on top of each other on small screens */
    }

    .section {
        width: 100%; /* Full width on small screens */
    }
}