body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F7D7BB; /* Earth tone color */
    color: #534741; /* Earth tone color for text */
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5d3b2; /* Earth tone color */
    padding: 15px 20px;
}

.header-content {
    text-align: left; /* Left align content */
    height: 75vh;
    padding: 15px 20px;
}

.header-about {
    background-color: #D4C9BE; /* Unique background color for About header */
    padding: 10px;
}

.header-adventure{
    background-color: #D4C9BE; /* Unique background color for Adventure header */
    padding: 10px;
}

.header-documentation{
    background-color: #D4C9BE; /* Unique background color for Documentation header */
    padding: 10px;
}

.header-illustration{
    background-color: #D4C9BE; /* Unique background color for Documentation header */
    padding: 10px;
}

.header-journey{
    background-color: #D4C9BE; /* Unique background color for Documentation header */
    padding: 10px;
}

.header-movement{
    background-color: #D4C9BE; /* Unique background color for Documentation header */
    padding: 10px;
}

.custom-header {
    font-family: 'Ariel', sans-serif;
    color: #333;
    font-size: 36px;
    margin-bottom: 5px; /* Add some space between title and description */
}

.header-description {
    color: #666;
    font-size: 18px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 100px; /* Adjust the size of your logo */
    margin-right: 20px;
}

.logo {
    width: 100px; /* Adjust the size of your logo */
    margin-right: 20px;
}
/*footer*/
/* styles.css */
footer {
    background-color: #D4C9BE;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contact-info {
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.profile {
    height: 50vh;
    object-fit: cover;
}

/*navigation*/
nav{
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #534741; /* Earth tone color */
    font-weight: bold;
}

nav ul li a.active {
    color: #B3724D; /* Adjust the color for the active link */
}

/*dropdown*/
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cabca3; /* Earth tone color */
    min-width: 160px;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #534741; /* Earth tone color */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*for sections*/
.section {
    height: 50vh; /* Half height of the viewport */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 15px 20px;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.image-container {
    flex: 1;
    overflow: hidden;
}

.icons {
    height: 50vh;
    object-fit: cover;
}

#movement {
    background-color: #B3724D;
    background-image: url('section1-background.jpg'); /* Add your background image */
    background-size: cover;
    background-position: center;
}

#documentation {
    background-image: url('section2-background.jpg'); /* Add your background image */
    background-size: cover;
    background-position: center;
}

#illustration {
    background-image: url('section3-background.jpg'); /* Add your background image */
    background-size: cover;
    background-position: center;
}

#about-me {
    background-color: #B0A292;
    
}

#coding-projects {
    background-color: #8E9C95;
}

#UX-UI {
    background-color: #89A0AF;
    
}
/*slider & thumbnail for images*/
.slider-container {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide {
    width: 100%;
    flex: 0 0 auto;
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

/* Styles for Slider 1 */
#slider1 {
    /* Your slider styles go here */
    width: 100%;
    height: auto;
}

/* Styles for Slider 2 */
#slider2 {
    /* Your slider styles go here */
    width: 100%;
    height: auto;
}

/* Styles for Slider 3 */
#slider3 {
    /* Your slider styles go here */
    width: 80%;
    height: auto;
}


.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow to only show four thumbnails at a time */
}

.thumbnails {
    display: flex;
}

.thumbnail {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent; /* Transparent border initially */
    transition: border 0.3s ease;
}

.thumbnail:hover,
.thumbnail.active {
    border: 2px solid #fff; /* Border color when hovered or selected */
}

/*for videos*/
/* Container for video groups */
.video-container {
    display: flex;
    justify-content: space-between;
}

/* Style for each video group */
.video-group {
    flex: 0 0 calc(50% - 10px); /* Two groups in a row with a small gap in between */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
    margin-top: 30px;
}

/* Style for each video */
.video {
    margin-bottom: 10px; /* Adjust as needed */
}

/* Style for text under videos */
.text {
    text-align: center;
}

/* for resume*/
/* Centered title */
.resume-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Work Experience section */
.work-experience {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

/*Technical Skills section*/
.technical-skills{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

/*Certification section*/
.certification{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

/* Side title */
.side-title {
    flex: 0 0 70%; /* Adjust as needed */
}

/* Individual experience */
.description {
    margin-bottom: 20px;
}

/* style.css */

.clickable-section {
    cursor: pointer;
    transition: background-color 0.3s;
}

.side-by-side-container {
    display: flex;
    justify-content: space-between;
}

.project-unit {
    max-width: 49%; /* Each project takes up 48% of the width to allow for some spacing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 10px; /* Add padding for spacing within each project unit */
}

.clickable-section {
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px; /* Adjust as needed for spacing between sections */
}

.clickable-image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.content {
    max-width: 100%; /* Adjust the width of the content */
}

.image-container {
    max-width: 100%; /* Adjust the width of the image container */
}

/* Add any other styling as needed */

